{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-6 mt-3">
		<h3 class="text-primary text-center" style="font-family:Papyrus;">COURSE LIST</h3>
		{% if is_granted('ROLE_ADMIN') %}
			<a class="btn btn-outline-dark" href="{{ path('course_add') }}">ADD COURSE</a>
		{% endif %}
		<table class="table text-center mt-3", style="background-color: lightblue">
			<thead style="background-color: black">
				<tr style="color: #FFFFF0">
					<th>ID</th>
					<th>Name</th>
					{% if is_granted('ROLE_ADMIN') %}
						<th>Menu</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for course in courses %}
					<tr>
						<td>{{ course.id }}</td>
						<td>
							<a href="{{ path('course_detail', {'id': course.id}) }}">{{ course.name }}
							</a>
						</td>
						{% if is_granted('ROLE_ADMIN') %}
							<td>
							<a class="btn btn-warning" href="{{ path('course_edit', {'id': course.id}) }}">EDIT</a>
							<a class="btn btn-danger" href="{{ path('course_delete', {'id':course.id}) }}" onclick="return confirm('Are you sure to delete this course ?')">DELETE</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
