{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-6 mt-3">
		<h3 class="text-primary text-center" style="font-family:Papyrus;">STUDENT LIST</h3>
		{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-outline-dark" href="{{ path('student_add') }}">ADD STUDENT</a>
		{% endif %}
		<table class="table text-center mt-3", style="background-color: lightblue">
			<thead style="background-color: black">
				<tr style="color: #FFFFF0">
					<th>ID</th>
					<th>Name</th>
					<th>Avatar</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Phone</th>
					{% if is_granted('ROLE_ADMIN') %}
						<th>Action</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
					<tr>
						<td>{{ student.id }}</td>
						<td>{{ student.name }}</td>
						<td>
							<a href="{{ path('student_detail', {'id': student.id}) }}">
								<img src="{{ asset('images/student/'~student.avatar )}}" alt="avatar" width="100" height="120">
							</a>
						</td>
                        <td>{{ student.age}}</td>
                        <td>{{student.address }}</td>
                        <td>{{student.phone}}</td>
						{% if is_granted('ROLE_ADMIN') %}
						<td>
						<a class="btn btn-info" href="{{ path('student_detail', {'id': student.id}) }}">DETAIL</a>
							<a class="btn btn-warning" href="{{ path('student_edit', {'id': student.id}) }}">EDIT</a>
							<a class="btn btn-danger" href="{{ path('student_delete', {'id':student.id}) }}" onclick="return confirm('Are you sure to delete this student ?')">DELETE</a>
						</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
