{% extends 'base.html.twig' %}

{% block header %} {% endblock %}
{% block title %}Register{% endblock %}

{% block body %}
<div class="container col-4 mt-3 mb-4 text-center card bg-dark text-white" style="font-family:Times New Roman;">
    <h1 class="title text-uppercase ">Register</h1>

    {{ form_start(registrationForm) }}
    <div class="row"  required autofocus>
        <label>Username</label>
        <input type="text" {{ form_widget(registrationForm.username) }}
   
        <label>Password</label>
        <input type="text" {{ form_widget(registrationForm.plainPassword) }}
    </div>

    <div class="form-check">
    <label>AgreeTerms</label>
        {{ form_widget(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
