{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-6 mt-3">
		<h3 class="text-primary text-center text-capitalize" style="font-family:Papyrus;">TEACHER DETAIL</h3>
		<a class="btn btn-outline-dark" href="{{ path('teacher_index') }}">TEACHER LIST</a>
		<table class="table text-center mt-3", style="background-color: lightblue">
			<thead style="background-color: black">
				<tr style="color: #FFFFF0">
					<th>Name</th>
					<th>Avatar</th>
					<th>Age</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Courses</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ teacher.name }}</td>
						<td>
								<img src="{{ asset('images/teacher/'~teacher.avatar )}}" alt="avatar" width="100" height="120">
						</td>
                        <td>{{teacher.age}}</td>
                        <td>{{teacher.address}}</td>
                        <td>{{teacher.phone}}</td>
					<td>
						{% for b in teacher.course %}
							<a href="{{ path('course_detail', {'id': b.id }) }}">
								{{ b.name }}
							</a>
							<br>
						{% endfor %}
					</td>
					{% if is_granted('ROLE_ADMIN') %}
						<td>
							<a class="btn btn-info" href="{{ path('teacher_edit', {'id': teacher.id}) }}">EDIT</a>
							<a class="btn btn-warning" href="{{ path('teacher_delete', {'id': teacher.id}) }}"
							onclick= "return confirm('Are you sure to delete this teacher ?')"
							>DELETE</a>
						</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
