{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-6 mt-3">
		<h3 class="text-success text-center" style="font-family:Papyrus;">TEACHER LIST</h3>
		{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-outline-success mt-2" href="{{ path('teacher_add') }}">ADD TEACHER</a>
		{% endif %}
		<table class="table text-center mt-3", style="background-color: lightblue">
			<thead style="background-color: black">
				<tr style="color: #FFFFF0">
					<th>ID</th>
					<th>Name</th>
					<th>Avatar</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Phone</th>
					{% if is_granted('ROLE_ADMIN') %}
						<th>Action</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for teacher in teachers %}
					<tr>
						<td>{{ teacher.id }}</td>
						<td>{{ teacher.name }}</td>
						<td>
							<a href="{{ path('teacher_detail', {'id': teacher.id}) }}">
								<img src="{{ asset('images/teacher/'~teacher.avatar )}}" alt="avatar" width="100" height="120">
							</a>
						</td>
                        <td>{{ teacher.age}}</td>
                        <td>{{teacher.address }}</td>
                        <td>{{teacher.phone}}</td>
						{% if is_granted('ROLE_ADMIN') %}
							<td>
								<a class="btn btn-info" href="{{ path('teacher_edit', {'id': teacher.id}) }}">EDIT</a>
								<a class="btn btn-warning" href="{{ path('teacher_delete', {'id': teacher.id}) }}" onclick="return confirm('Are you sure to delete this teacher ?')">DELETE</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
