<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Student Management System{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
	<div class="" style="backgroud-color">
        {# tạo 1 section để hiển thị thông báo Flash được gửi từ Controller (back-end) #}
		<div class="container text-center col-md-5">
			{% for message in app.flashes('Success') %}
				<p class="alert alert-success">{{ message }}</p>
			{% endfor %}
			{% for message in app.flashes('Error') %}
				<p class="alert alert-danger">{{ message }}</p>
			{% endfor %}
		</div>
		
		{% block header %}
			{# navigation bar #}
		<nav class="navbar navbar-light" style="background-color: lightblue">
			<ul class="nav justify-content-center", align="center">
				<li class="nav-item">
					<h2>
						<a class="nav-link" href="{{ path('home') }}">HOME</a>
					</h2>
				</li>
				<li class="nav-item">
					<h2>
						<a class="navbar-brand" href="{{ path('category_index') }}">MAJOR</a>
					</h2>
				</li>
				<li class="nav-item">
					<h2>
						<a class="navbar-brand" href="{{ path('course_index') }}">COURSE</a>
					</h2>
				</li>
				<li class="nav-item">
					<h2>
						<a class="navbar-brand" href="{{ path('teacher_index') }}">TEACHER</a>
					</h2>
				</li>
                <li class="nav-item">
					<h2>
						<a class="navbar-brand" href="{{ path('student_index') }}">STUDENT</a>
					</h2>
				</li>
				<li class="nav-item">
					<h2>
						<a class="navbar-brand" href="{{ path('app_logout') }}">LOGOUT</a>
					</h2>
				</li>
			</ul>
		</nav>
	</div>
		{% endblock %}

		{% block body %} {% endblock %}

		{% block footer %}
			<div class="container mt-3 text-center">
				<h5 class="text-success">Copyright by Greenwich University - 2021</h5>
			</div>
		{% endblock %}
    </body>
</html>
